@import "src/assets/styles/colors";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-bottom: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-top: 2px solid $dark-orange;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  animation: spin 1s linear infinite;
}